ALTER TABLE prosbc_dm_files MODIFY COLUMN prosbc_instance_id VARCHAR(50) NOT NULL;
ALTER TABLE prosbc_dm_files MODIFY COLUMN file_content LONGTEXT;
ALTER TABLE prosbc_dm_files ADD COLUMN prosbc_file_id VARCHAR(50) NULL;
