DROP TABLE IF EXISTS customer_counts; CREATE TABLE customer_counts (id INT AUTO_INCREMENT PRIMARY KEY, customerName VARCHAR(255) NOT NULL, count INT NOT NULL, date DATE NOT NULL, prosbcInstanceId VARCHAR(50) NOT NULL, createdAt DATETIME NOT NULL, updatedAt DATETIME NOT NULL, INDEX idx_customer_date (customerName, date), INDEX idx_instance (prosbcInstanceId), FOREIGN KEY (prosbcInstanceId) REFERENCES prosbc_instances(id));
